* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}
.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  border: 2px solid;
  overflow: hidden;
}
.main {
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* border: 2px solid; */
  width: 100%;
  margin-top: 8rem;
  position: relative;
}
.banner {
  display: grid;
  /* border: 1px solid red; */
}
.banners {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  /* border: 1px solid; */
}
.welcome-btn {
  display: flex;
  color: white;
  font-weight: 700;
  background: url(../images/w00056.jpg);
  background-size: cover;
  border: 1px solid goldenrod;
  padding: 0.5rem 1rem;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 1px 1px goldenrod;
  font-size: 0.8rem;
  cursor: pointer;
  width: fit-content;
}
.typewriters {
  color: goldenrod;
  font-weight: bold;
  font-size: 3rem;
}
.intro-text {
  color: goldenrod;
  margin-top: 1rem;
  font-size: 1.5rem;
  width: fit-content;
}
.about-me {
  max-width: 70%;
  font-size: 0.7rem;
  text-align: left;
  color: darkgray;
}
.connect2 {
  align-items: end;
  /* border: 1px solid; */
  text-align: left;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}
.link {
  padding-top: 7px;
}

@media (max-width: 768px) {
  .banner {
    align-items: center;
  }
}
