* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.App {
  text-align: center;
  min-height: 100vh;
  padding: 1rem 4rem;
  width: 100%;
}

.App__logo {
  cursor: pointer;
  width: 2.5rem;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  color: white;
}
.scroll {
  background-color: red;
}
.navbar__right {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav__links {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}
.nav__links li {
  cursor: pointer;
}
.nav__links li:hover {
  text-decoration: underline;
  color: red;
}
.nav-icons {
  display: flex;
  gap: 0.4rem;
}
.icons {
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3rem;
}
.icons:hover {
  color: black;
  /* background: white; */
  scale: 1.2;
}
.connect {
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  cursor: pointer;
  border: 1px solid;
  box-shadow: 1px 1px 0px 0px white;
  opacity: 0.8;
}
.connect:hover {
  background: white;
  color: red;
  font-weight: 700;
  opacity: 1;
  transition: 0.3ms ease-in-out;
}
.main {
  display: grid;
  grid-template-columns: 90% 10%;
  justify-content: space-between;
  /* border: 2px solid; */
  width: 100%;
  align-items: center;
  margin-top: 8rem;
}
.banner {
  display: flex;
  /* border: 1px solid red; */
}
.welcome-btn {
  color: white;
  font-weight: 700;
  background: url(../images/w00056.jpg);
  background-size: cover;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 1px 1px white;
  font-size: 0.8rem;
  cursor: pointer;
}
.typewriters {
  color: blue;
  font-weight: bold;
  font-size: 3rem;
}
.intro-text {
  color: red;
  margin-top: 1rem;
  font-size: 1.5rem;
}
